[Interface]
# Name = {{ ansible_facts['fqdn'] }} ({{ ansible_facts['hostname'] }})
PrivateKey = {{ wireguard_server_privatekey.content | b64decode }}
Address = {{ wireguard_server_tuncidr }}
ListenPort = {{ wireguard_server_port }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; ip6tables -A FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
# SaveConfig = true

{% for peer in wireguard_peers %}
[Peer]
# Name = {{ peer.name }}
PublicKey = {{ peer.publickey }}
AllowedIPs = {{ peer.tuncidr }}
{% endfor %}
